/*-------------------
font family---------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*----------------------
common styles----------*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
}

/*----------------------
hero section styles----------*/
.hero-section {
    background-color: #2D25A0;
    padding: 68px 0px 86px;
}
.hero-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 102px;
}

.hero-left-side {
    /* margin-top: 207px; */
    margin-left: 156px;

}

.hero-section-title{
    color: #fff;
    font-weight :700;
    font-size:60px;
    Line-height :80px;
    margin-bottom: 25px;
    
}
a.hero-btn {
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    font-weight: normal;
}
/*---------------------------------------
rotation and transition on button-------  */
a.hero-btn:hover {
    background-color: #673ab7;
    transition: background-color 1s ease-in;
}
a.hero-btn:hover .btn-arrow {
    transform: rotate(90deg);
    transition: transform 1s ease-in;
    /* background-color: violet; */
}

i.fas.fa-arrow-right.btn-arrow {
    padding-left: 8px;
}
img.hero-img {
    width: 560px;
    height: 440px;
}

section.players-section {
    width: 80%;
    padding-top: 70px;
    margin-bottom: 150px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player {
    width: 300px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);

    overflow: hidden;
}
/*.player-details {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}*/

img.player-thumbnail {
    width: 300px;
    height: 256px;
}
h3.player-title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #18191F;
}
p.description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}
.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img.ft-logo {
    width: 400px;
    height: 100px;
}
span.social-icons a {
    margin-right: 8px;
    padding: 5px 10px;
    background-color: #9e9e9e59;
    color: #607d8b8f;
    border-radius: 50px;
}
.copyright {
    margin-top: 15px;
}

/*media queries for mobile devices*/
@media only screen and (max-width: 688px) {
    
    .hero-content {
        grid-template-columns: repeat(1,1fr);
    }
    section.players-section {
        width: 100%;
    }
    .players {
       
        grid-template-columns: repeat(1,1fr);
     
    }
    
    .player {
        margin-left: 42px;
    }

}

   
   

  